[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pip = "*"
tqdm = "*"
notebook = "==7.1.2"
pandas = "*"
scikit-learn = "*"
dlt = "==1.13.0"
fastembed = "==0.7.1"
elasticsearch = "==8.13.0"
fqdn = "==1.5.1"
groq = "==0.30.0"
ipywidgets = "==8.1.7"
markdown = "==3.8.2"
minsearch = "==0.0.4"
nltk = "==3.9.1"
openai = "==1.96.1"
qdrant-client = "==1.14.3"
tiktoken = "==0.9.0"
tinycss2 = "==1.4.0"
torch = "==2.7.1"
transformers = "==4.53.2"
sentence-transformers = "==5.0.0"
fastmcp = "==2.10.5"
rouge = "==1.0.1"
numpy = "==2.3.1"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
