[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
transformers = "*"
torch = "*"
pip = "*"
nltk = "*"
tqdm = "*"
notebook = "==7.1.2"
openai = "*"
elasticsearch = "==8.13.0"
pandas = "*"
scikit-learn = "*"
ipywidgets = "*"
minsearch = "*"
groq = "*"
tiktoken = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
